/* Header */
header {
    background: #004aad;
    color: #fff;
    padding: 15px 20px;
}

.header-container { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}

header h1 {
    font-size: 1.8rem;
    margin: 0;
}

/* Nav */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #ff9800;
}

/* Menú hamburguesa (oculto en desktop) */
.menu-toggle {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: #fff;
    margin-left: auto;
}

/* Responsive */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background: #003580;
        position: absolute;
        top: 60px;
        right: 20px;
        padding: 15px;
        border-radius: 8px;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }
}


header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #004aad;
    /* mismo color que el header */
}


header.scrolled {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}